{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Liste des chats{% endblock %}
{% block body %}
        <div class="" style="width:30vw">
            <form method="POST">
                <h2>Ajouter un chat</h2>
                <div class="" style="width:30vw; margin-top:15px">
                    <label for="nom">Nom</label><br/>
                    <input type="text" name="nom" placeholder="Nom">
                </div>
                <div style="width:30vw; margin-top:15px">
                    <label for="race">Race</label><br/>
                    <input type="text" name="race" placeholder="Race">
                </div>
                <div style="width:30vw; margin-top:15px">
                    <select class="" name="sexe">
                        <option>Sexe</option>
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
                <div style="width:30vw; margin-top:15px">
                    <label for="naissance">Date de naissance</label><br/>
                    <input type="date" name="naissance">
                </div>
                <div style="width:30vw; margin-top:15px">
                    <label for="caractere">Caractere</label><br/>
                    <textarea name="caractere" rows="4"></textarea>
                </div>
                <div style="width:30vw; margin-top:15px">
                    <label for="photo">Photo</label><br/>
                    <input type="text" name="photo" placeholder="photo">
                </div>
                <div style="width:30vw; margin-top:15px">
                    <label for="recueil">Date de recueil</label><br/>
                    <input type="date" name="recueil">
                </div>
                <div style="margin:15px; margin-left:0px">
                    <button type="submit" href="/">Ajouter</button>
                </div>
            </form>
            </div>
        </div>
{% endblock %}
