<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Adopte Un Chat !{% endblock %}</title>
        {% block stylesheets %}
            <link href="css/style.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/30e6444f94.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <img src="./images/logo.png" alt="Adopte Un Chat !" title="Adopte Un Chat !" />
        </div>
        <div class="container-global">
            {% block body %}{% endblock %}
        </div>
        <div class="footer-chat">
            Kalpesh GHAAG - Nasim IBRAHIMI - Christophe LE MANH HO
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
